<form method="post" enctype="multipart/form-data" action="{% url 'updateSubject' subject.id %}" class="needs-validation" novalidate>
  {% csrf_token %}

  <div class="form-group">{{ form.subject_name.label_tag }} {{ form.subject_name }}</div>
  <div class="form-group">{{ form.subject_short_name.label_tag }} {{ form.subject_short_name }}</div>
  <div class="form-group">
    <label for="{{ form.subject_photo.id_for_label }}">Subject Photo</label>
    <div class="custom-file">{{ form.subject_photo }}</div>
  </div>

  <div class="form-group">{{ form.unit.label_tag }} {{ form.unit }}</div>
  <div class="form-group">{{ form.assign_teacher.label_tag }} {{ form.assign_teacher }}</div>
  <div class="form-group">{{ form.substitute_teacher.label_tag }} {{ form.substitute_teacher }}</div>
  <div class="form-group update coil-input">{{ form.is_coil.label_tag }} {{ form.is_coil }}</div>
  <div class="form-group update hali-input">{{ form.is_hali.label_tag }} {{ form.is_hali }}</div>
  <div class="form-group coil-hali-fields d-none">{{ form.max_number_of_enrollees.label_tag }} {{ form.max_number_of_enrollees }}</div>
  <div class="form-group coil-hali-fields d-none">{{ form.duration.label_tag }} {{ form.duration }}</div>
  <div class="form-group coil-hali-fields d-none">{{ form.industry_partners.label_tag }} {{ form.industry_partners }}</div>
  <div class="form-group coil-hali-fields d-none">{{ form.highlight.label_tag }} {{ form.highlight }}</div>
  <div class="form-group coil-hali-fields d-none">{{ form.target_sdgs.label_tag }} {{ form.target_sdgs }}</div>
  <div class="form-group coil-hali-fields d-none">{{ form.country.label_tag }} {{ form.country }}</div>
  <div class="form-group coil-hali-fields d-none">{{ form.status.label_tag }} {{ form.status }}</div>
  <div class="form-group">{{ form.allow_substitute_teacher.label_tag }} {{ form.allow_substitute_teacher }}</div>
  <div class="form-group">{{ form.subject_description.label_tag }} {{ form.subject_description }}</div>
  <div class="form-group">{{ form.subject_code.label_tag }} {{ form.subject_code }}</div>
  <div class="form-group">{{ form.room_number.label_tag }} {{ form.room_number }}</div>

  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
