{% extends 'base.html' %}
{% load static %}
{% block title %}
  Teacher List
{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-12">
            <h1 class="m-0 text-center text-md-left">Teacher List</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <!-- Card for Teacher List -->
            <div class="card shadow-sm mb-3">
              <div class="card-body">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                  <form method="GET" action="" class="d-flex w-100 w-md-auto">
                    <input type="text" name="search" class="form-control" placeholder="Search by name or ID" value="{{ search_query }}" />
                    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-search"></i></button>
                  </form>

                  <a type="button" class="btn btn-info ml-2 d-flex align-items-center justify-content-center" id="openImportModalBtn" style="height: 38px;"><i class="fas fa-file-import mr-1"></i> Import</a>
                </div>
              </div>
            </div>

            <div class="card shadow mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center" id="dataTable" width="100%" cellspacing="0">
                      <thead class="bg-primary text-white">
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Identification</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if teacher %}
                          {% for teacher in teacher %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
                              <td class="text-truncate" style="max-width: 150px;">{{ teacher.user.email }}</td>
                              <td>{{ teacher.identification|default:'--' }}</td>
                              <td>
                                <div class="dropdown">
                                  <button class="btn btn-light btn-sm no-caret" type="button" id="dropdownMenuButton{{ teacher.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton{{ teacher.id }}">
                                    <a href="{% url 'profile_view' teacher.id %}" class="dropdown-item"><i class="fas fa-eye"></i> View</a>
                                    <a href="javascript:void(0);" class="dropdown-item" onclick="openEditModal({{ teacher.id }})"><i class="fas fa-edit"></i> Update</a>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td colspan="5" class="text-center">No Teacher found.</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Import Teachers Modal -->
        <div id="importModal" class="custom-modal">
          <div class="custom-modal-header">
            <button class="close-btn" id="closeImportModalBtn"></button>
            <h5>Import Teachers</h5>
          </div>
          <div class="custom-modal-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'import_students' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="importFile">Choose CSV File:</label>
                <input type="file" name="import_file" id="importFile" class="form-control" required />
              </div>
              <button type="submit" class="btn btn-primary btn-block">Upload</button>
            </form>
            <div class="mt-2 text-center">
              <a href="{{ MEDIA_URL|add:'template/Import User Template.csv' }}" class="btn btn-sm btn-secondary" download>Download Template here.</a>
              <br />
              <small>(Download the template above for guidance.)</small>
            </div>
          </div>
        </div>
        <div id="importModalBackdrop" class="custom-modal-backdrop"></div>

        <!-- Edit Teacher Profile Modal -->
        <div id="editModal" class="custom-modal">
          <div class="custom-modal-header">
            <button class="close-btn" id="closeEditModalBtn"></button>
            <h5>Edit Teacher Profile</h5>
          </div>
          <div class="custom-modal-body" id="editModalBody">
            <!-- Content will be dynamically loaded here -->
          </div>
        </div>
        <div id="editModalBackdrop" class="custom-modal-backdrop"></div>
      </div>
    </section>
  </div>

  <!-- JavaScript for Modal and Selectpicker -->
  <script>
    document.getElementById('openImportModalBtn').addEventListener('click', function () {
      document.getElementById('importModal').classList.add('show')
      document.getElementById('importModalBackdrop').classList.add('show')
    })
    
    document.getElementById('closeImportModalBtn').addEventListener('click', function () {
      document.getElementById('importModal').classList.remove('show')
      document.getElementById('importModalBackdrop').classList.remove('show')
    })
    
    function openEditModal(profileId) {
      const userRole = '{{ role|lower }}'
      let fetchUrl
      if (userRole === 'admin') {
        fetchUrl = `/admin_update_teacher_profile/${profileId}/`
      } else if (userRole === 'registrar') {
        fetchUrl = `/updateRegistrarProfile/${profileId}/`
      }
    
      fetch(fetchUrl)
        .then((response) => response.text())
        .then((html) => {
          document.getElementById('editModalBody').innerHTML = html
          document.getElementById('editModal').classList.add('show')
          document.getElementById('editModalBackdrop').classList.add('show')
          $('.selectpicker').selectpicker('refresh')
        })
    }
    
    document.getElementById('closeEditModalBtn').addEventListener('click', function () {
      document.getElementById('editModal').classList.remove('show')
      document.getElementById('editModalBackdrop').classList.remove('show')
    })
  </script>

  <style>
    @media (max-width: 768px) {
      .custom-modal {
        width: 90%;
        max-width: none;
      }
    
      .table-responsive {
        overflow-x: auto;
      }
    
      .btn {
        font-size: 14px;
      }
    
      input.form-control {
        font-size: 14px;
      }
    }
  </style>
{% endblock %}
