{% extends "base.html" %}
{% block title %}Screenshots for {{ selected_date }}{% endblock %}

{% block content %}
<div class="container mt-4">
    
    <a href="{% url 'teacher_attendance_calendar_page' subject_id %}" class="btn btn-secondary">
        Back to Calendar
    </a>

    <a href="{% url 'export_screenshots_pdf' subject_id selected_date %}" class="btn btn-primary">
        Export to PDF
    </a>    
    
    
    <h3 class="mb-4">Screenshots for {{ selected_date }}</h3>

    {% if screenshots %}
        <div class="row">
            {% for screenshot in screenshots %}
            <div class="col-md-3">
                <a href="{{ screenshot.image.url }}" target="_blank" class="text-decoration-none">
                    <div class="card mb-3 shadow-sm">
                        <img src="{{ screenshot.image.url }}" class="card-img-top" alt="Screenshot">
                        <div class="card-body">
                            <p class="card-text">Taken on: {{ screenshot.timestamp }}</p>
                        </div>
                    </div>
                </a>
            </div>            
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">No screenshots available for this date.</p>
    {% endif %}
</div>
{% endblock %}
